#genetics {
    margin-left: 2em;
    padding: 1em;
    float: left;
}

#cat {
    position: fixed;
    left: 700px;
    top: 40px;
    border: solid 1px #92b1ff;
    background-color: #dfdfdf;
    border-radius: 10px;
    float: left;
    margin: 2em;
    padding: 1em;
}
body {
    padding-top: 60px;
    background-color: #c9c9c9;
}

label {
    margin-right: 20px;
}

span {
    font-weight: bold;
}

#population {
    position: absolute;
    right: 0;
    top: 200px;
    color: white;
    padding: 10px;
    background-color: #2dc1eb;
    border: solid 1px #3592ba;
    z-index: 5;
}

test {
    color: #57a0bb;
}