#genetics {
    margin-left: 2em;
    padding: 1em;
    float: left;
}

#cat {
    float: left;
    margin: 2em;
    padding: 1em;
}
body {
    padding-top: 60px;
    background-color: #c9c9c9;
}

label {
    margin-right: 20px;
}

test {
    color: #57a0bb;
}