{% extends 'base.html' %}
{% block content %}
    <form id="genetics">
        <h2>Cat editor</h2>

        <h4>gender</h4>
        <input type="radio" name="gender" value="0" id="male" checked> <label for="male"> male </label>
        <input type="radio" name="gender" value="1" id="female"> <label for="female"> female </label>

        <script>
            var catBonsai = undefined;
            var radios = {
                black: ['black', 'chocolate', 'cinnamon'],
                orange: ['orange', 'not orange'],
                density: ['dense', 'not dense'],
                dilute: ['diltuted', 'not diluted'],
                agouti: ['agouti', 'plain'],
                mackarel: ['tiger', 'classic'],
                ticked: ['ticked', 'not ticked'],
                albino: ['normal', 'burmese', 'siamese', 'blue eyed albino', 'pink eyed albino'],
                white: ['white', 'not white'],
                spots: ['spotted', 'not spotted', 'socks']
            };
            var gender;

            var form = document.querySelector("#genetics");
            for(var gene in radios) {
                form.innerHTML += '<h4>' + gene + '</h4><div class="'+gene+'"></div>';
                var block = document.querySelector("."+gene);
                for(var i = 0; i < radios[gene].length; i++) {
                    block.innerHTML += '<input type="checkbox" name="' + gene + '" id="' + gene + i + '"' +
                            ' value="' + i + '" ' + (i == 0 ? 'checked' : '') + '> <label for="' + gene + i + '">'
                            + radios[gene][i] + ' </label>'
                }
            }

            $('input[type="checkbox"]').on('change', function(evt) {
                if($(this).siblings(':checked').length >= 2) {
                    this.checked = false;
                }
                else if($(this).siblings(':checked').length <= 0) {
                    this.checked = true;
                }

                var dna = {};
                $('form *').filter(':input').each(function() {
                    if(this.checked) {
                        if(dna.hasOwnProperty(this.name)) {
                            dna[this.name].push(parseInt(this.value));
                        }
                        else {
                            dna[this.name] = [parseInt(this.value)];
                        }
                    }
                });
                for(var gene in dna) {
                    if(dna[gene].length === 1) {
                        dna[gene].push(dna[gene][0]);
                    }
                }
                $.ajax({
                    type: 'POST',
                    url: '/cat',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(dna)
                }).done(function(data) {
                    catBonsai.sendMessage(data);
                });
            });
        </script>
    </form>
    <div id="cat"></div>
    <script>
        catBonsai = bonsai.run(document.getElementById('cat'), {
            url: 'static/skin.js',
            width: 600,
            height: 700
        });
    </script>
{% endblock %}